THRESHOLD=10
URL=http://NPxxxxxxxxxxxxx:/hp/device/webAccess/index.htm
MAIL_FROM=admin@website.com
MAIL_TO="User 1 <user1@website.com>, User 2 <user2@website.com>"
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_TLS=1
MAIL_LOGIN=smtp@example.com
MAIL_PASSWORD=password
