MAIL_FROM=Network Admin <admin@example.com>
MAIL_TO=Bob Smith <bobsmith@example.com>,Mary Smith <marysmith@example.com>
MAIL_SERVER=smtp.example.com
URL=http://NPxxxxxxxxxxxxx:/hp/device/webAccess/index.htm
