altgraph==0.17.2
beautifulsoup4==4.11.1
click==8.1.2
emailer @ git+https://github.com/northriverboats/emailer.git@98653a1c9294fa7a6f46b824175511d206fd20cc
pkg_resources==0.0.0
pyinstaller==5.0.1
pyinstaller-hooks-contrib==2022.4
python-dotenv==0.20.0
soupsieve==2.3.2.post1
